/* .textarea{
    min-height: 20rem;
    width: 100%;

} */

textarea {
    width: 100%;
    min-height: 72px;
    padding: 2px;
    resize: none;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 4px;
    font-family: "Inconsolata", monospace;
    /* font-size: 1rem; */
    color: #000;
  }
  
  textarea:focus {
    outline: none;
  }