body{
    background: url('./assets/alex-gray.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 1000px;
    
}

.container{
     
  width:100%;
 display:inline-block;
 text-align:center;
    
    
    
}


#global{
    margin-top: 0px;
    border-radius: 10px;
    background: url('./assets/fondo1.jpg');
    background-repeat: no-repeat;
    display: inline-block; 
    background-attachment: fixed;
    text-align:center;
    
    min-height:2000px;
    height: inherit;
    border: 6px solid rgb(250, 197, 247);

    margin:auto;      
    width:90%;
    max-width:950px;
}


#padre{
    margin-top: 40px;

      
     width: 90%; 
      padding-left:5%;
      padding-right:5%;
}

.campo{
    background-color: #FCE477 /*#FAE743*/;
    min-height: max-content;
    display:block;
    padding: 30px;
    border-radius: 10px;
    border: 5px solid white;
    width:90%;
    position:relative;

}


.signo,.casa{display: inline-block;
    
    }

.signoCasa{
   display:inline-block;
   text-align:left;
   width:600px;
}

.aspectos{position:relative; 
margin-top: 10px;
right: 0%;
float: right;
width: 470px;}

    .botonAspec{position: absolute; 
    right:20px;
    width:120px;
    }

    .aspectos2{float:right;}

        .aspectos6{display:inline-block;
        right: 203px;}

        

            .aspectos5{width: 110px;
            position:relative;
            right:227px;}

            .aspectos5unido{width: 200px;
            position:relative;
            right:157px;
            display:block;
            }

        .aspectos3{display:inline-block; 
        position:absolute;
        right: 148px; }
        
        
            .aspectos4{width: 70px; 
            position:relative;  
            display:inline-block;}
        
        .cargarAspectos{
        float:right;
        display:inline-block;
        margin-top:23px;
        position:absolute;
        right:28px;}




.cargar1{display:inline-block;}

.cargar2{display:inline-block;}

.cargarCampo{float:left;
 display:inline-block;
    }
.principal{
    display:inline-block;
text-align:left;
}
.limpiarCamp{
    margin-top:10px;
    
    float: left;}



.cargarCampo2{
    display:none;
}

.limpiarCamp2{
    display:none
}

 
.select{
    background-color:white;
}

h3:first-letter{
    text-transform: uppercase;
    font-weight: bold;
}

#alerta{
    padding-top: 30px;
    padding-left:20px;
    padding-right:20px;
    position: fixed;
    width: 50%;
    font-size: 20px;
    text-align: center;
    background-color: #EF7F1A;
    height: 400px;
    vertical-align: middle;
    margin-left: 5%;
    margin-top:60px;
    clear: both;
    z-index: 3;
   

    border: 5px solid black;
}
#button{
    position: absolute;
    right: 0%;
    top: 0px;
}

#flashes{
    padding-top: 30px;
    position: fixed;
    width: 50%;
    font: 20;
    text-align: center;
    background-color: chartreuse;
    height: 70px;
    vertical-align: middle;
    margin-left: 10%;
    clear: both;
    z-index: 3;
    border-radius: 20px;
  

    
}
#flashestwo{
    padding-top: 30px;
    position: fixed;
    width: 50%;
    font: 20;
    text-align: center;
    background-color: orange;
    height: 70px;
    vertical-align: middle;
    margin-left: 10%;
    clear: both;
    z-index: 3;
    border-radius: 20px;
  

    
}



#consulta{
    text-align: center;
    color: white;}

h1{
    color: white;
    font-style: italic;
}
#box{
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    width:920px;
    margin:auto;
    display:none;    
    background-color: orange;
    padding-right: 30px;
    padding-left: 20px;
    height: 250px;
    padding-top: 40px;
    position:auto;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
  a:link{
    color:white;
    }
    a:visited{
    color:rgb(235, 224, 79);
    }
 /*-------------------------------------------------------*/
.cargarCampoAscendente{
    display:none;
    
}
.limpiarCampoAscendente{
    
    display:none;
}
.inputRetrogado{
    width: 110px;
    position:relative;
    right:227px;
}
/*----------------------------------------------------------*/
.uniaspecto{
display:inline-block;
min-width:178px;
position:relative;
min-height:50px;
float:left;}

    .uniaspecto1{
    position :absolute;
    width:120px;
    display:block;
    left:180px;
    top:0px;}

    .uniaspecto2{
    display:inline-block;}

        .uniaspecto3{
        position:relative;
        left:5px;}

    .uniaspecto4{
    clear:both;
    float: right;
    right:0px; 
    position:absolute;  
    display:inline-block;
    
    }
        .uniaspecto5{
        position: absolute;
        width:300;
        top:40px;
        left:128px;
        display:inline-block;
        }
            .cargarPlanetas{
            position: absolute;
            width:120px;
            top:-15px;
            left:-128px;}

/*--------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 980px){

    .contenedorAspectosInvisibles{
        position:absolute;
        left:230px;
        top:0px;
    }
    .subirBotonCargarLimpiar{
    position:absolute; top:-50px;}

    .contenedorRetrogrado{
        position:relative;
       
        right:-20px;
        }
    
        .contenedorLuna{
            position:relative;
            right:90px;
        }

     .contenedorMolde{
         position:relative;
         right:90px;
     }
     .principal{text-align:left;}
     .container{
         
     }
     
     #global{
        margin:auto;
        
        padding:auto;
    }

    #padre{
      padding-left:0%;
      margin:auto;
      width:80%;
      max-width:400px;
    }



   .campo{
        min-height: 140px;
   }
    
    .cargarCampo{
       display:none;
    }

    .limpiarCamp{
        display:none;
    }

   .limpiarCamp2{
       margin-top:5px;
       right:9px;
       position:absolute;
       display: inline-block;
       margin-top:33px;
   } 
    .cargarCampo2{
        display:inline-block;
         position:absolute;
        margin-top:12px;
        right:9px;
        
       
        
    }

    .cargarLimpiar{
        display:block;
        position:absolute;
       margin-top:0px;
    }

    


.aspectos{margin-top:5px;
}

.aspectos3{display:inline-block; 
    position:absolute;
    right: 160px;}


   


.aspectos5{width: 110px;
    position:relative;
    right:240px;
    
    }

.botonAspec{position: absolute; 
    right:35px;
    
 
    
    }
.cargarAspectos{
  
   right:40px;
   
}
.signo,.casa{
    float:right;
    margin-right:45px;
    margin-top:5px;
}
.signoCasa{
    top:5px;
    position:relative;
    width:350px;
    right:0px;
}

.cargar1{
    margin-left:10px;
}
.cargar2{
    margin-left:10px;
}
.cargarAspectosAscendente{
    width:270px;
    
    
}
.cargarCampoAscendente{
    display:block;
    right:10px;
}
.limpiarCampoAscendente{
    right:10px;
    display:block;
}
}

/*----------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 620px){



    #global{
        width:100%;
        border:none;
    }
    body{
        margin-left:0px;
        margin-right:0px;
    }
    #padre{
        
    }
     
    
}
/*-----------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 500px){
    
    .justify{
        
    }
    .contenedorAspectosInvisibles{
        position:absolute;
        left:70px;
        top:-10px;
        background-color:blue;
        
    }
    .contenedorRetrogrado{
        right:5px;
    }
    .contenedoLuna{
        position:relative;
        right:0px;
    }
    .contenedorMolde{
         position:relative;
         right:0px;
     }
    .container{text-align:left;
       
    }
    body{
         margin:auto;
    }
    #global{
        margin:auto;
        width:100%;
        padding:auto;
        
        
    }

    #padre{
        
      padding-left:0%;
      margin:auto;
      width:90%;
      max-width:500px;
      margin-left:20px;/*-----------------------------------------*/
       padding-right:20px;
       box-sizing:border-box;
    }

    .campo{
        
        max-width:260px;
        width:80%;
        min-height: 170px;
        padding-bottom:115px;
        position:relative;
        
    }

    .limpiarCamp2{
       margin-top:25px;
      left:5px;
       display: inline-block;
       margin-top:35px;
       
   } 
    .cargarCampo2{
        display:inline-block;
        left:5px;
        margin-top:35px;
        margin-top:15px;
       
        
    }

    .cargarLimpiar{
        position:relative;
       display:inline-block;
       
       
       
    }

   

.aspectos{
    clear:both;
  display:block;
   float:left;
   left:0px;
   margin-top:40px;
  width:50px;
}
.aspectos3{display:inline-block; 
    position:absolute; 
   
    top:25px;
    left: 130px;
    
    }

.aspectos5{
    position:relative;
  left:80px;
   top:25px;
   display:block;
    
    }
.aspectos6{
    clear:both;
    display:block;
   left:0px;
}
.aspectos5unido{
      
      
        left:170px;
        top:28px;
       
       
        }
.cargarAspectos2{
    
}
.aspectos2{
    clear:both;
    display:block;
    left: 0px;
}
.botonAspec{
   
   
    left:60px;
    position: absolute; 
   
    display:block; 
    }
.cargarAspectos{
    margin-top:30px;
  width:200px;
   left:60px;
   
}
.signo{
    float:left;
   
    margin-right:50px;
    margin-left: 40px;
    margin-top:5px;
    
}
.casa{
    
   float:left;
   /* margin-right; */
    margin-left: 40px;
    margin-top:45px;

}
.cargar1{
    width:150px;
    margin-left:30px;
  
    position:absolute;
    display:block;
    margin-top:5px;
}
.cargar2{
    width:150px;
    margin-left:30px;
  
    position:absolute;
    display:block;
    margin-top:5px;
}

/*------------------------------------------------------------------*/
.cargarAspectosAscendente{
    position: absolute;
    
    display:block;
    width:200px;
    margin-left:135px;
   

}
.cargarCampoAscendente{

}
.limpiarCampoAscendente{

}
/*--------------------------------------------------------------------*/

.uniaspecto{
display:inline-block;
min-width:178px;
position:relative;
min-height:50px;
float:left;}

    .uniaspecto1{
    position :relative;
    width:120px;
    display:block;
    left:60px;
    top:20px;}

    .uniaspecto2{
    display:block;}

        .uniaspecto3{
        position:relative;
        top:30px;
        left:30px;}

    .uniaspecto4{
    clear:both;
    float: right;
    right:0px; 
    position:relative;  
    display:inline-block;
    
    }
        .uniaspecto5{
           
        position: relative;
        width:300;
        top:70px;
        left:-120px;
        display:inline-block;
        margin-bottom:40px;
        }
            .cargarPlanetas{
            position: absolute;
            width:120px;
            top:-15px;
            left:0px;
            }

}

